.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    bottom: 11%
    left: 12%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 45%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    left: 75%
    bottom: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal .tarjeta
  @media screen and (max-width: 768px)
    background-position: inherit
  @media screen and (max-width: 576px)
    background-position: center
    background-image: url(../assets/curso/portada/fondo-banner-principal-movil.png) !important

.banner-interno
  height: 160px
  .banner-interno__fondo
    background-image: url(../assets/curso/fondo_tema.png) !important

.slyder-a
  .slyder-a__bullets__item
    opacity: 0.35 !important
  .slyder-a__bullets__item--active
    opacity: 1 !important
    background-color: white
    border: none !important


.titulo-sexto
  font-size: 14px

.lista-ul--color li > i:first-of-type
  color: $color-primario

.lista-ul
  li
    display: flex
  i.fas.fa-circle
    font-size: 0.7em

.cont_1_1
  position: relative
  *
    position: relative
  &:before
    border-radius: 8px
    content: ""
    position: absolute
    top: 0
    left: -10%
    right: 0
    bottom: 0
    background-color: white
    z-index: 0
    @media screen and (max-width: 992px)
      left: 0

.cont_1_2
  position: relative
  figure
    img
      max-width: 700px
  *
    position: relative
  &:before
    border-radius: 8px
    content: ""
    position: absolute
    top: 20%
    left: 0
    right: 0
    bottom: 0
    background-color: #E1F6EF
    z-index: 0

.cont_2_1
  position: relative
  *
    position: relative
  &:before
    background-color: #DEE1ED
    content: ""
    width: 120%
    left: -10%
    height: 100%
    position: absolute
    z-index: 0

.cont_2_2
  position: relative
  height: 100%
  background-color: #ADD3FD
  border-radius: 10px
  overflow: hidden
  &:before
    content: ""
    position: absolute
    height: 30px
    bottom: 0
    left: 0
    right: 0
    background-color: #1682FB

.cont_2_3
  position: relative
  background-color: #13215C
  padding-top: 6rem !important
  overflow: hidden
  h4
    color: $color-acento-botones
  ul
    color: white
  .fig-flotante
    position: absolute
  .slyder-a
    .slyder-a__btn--sigt,.slyder-a__btn--atrs
      background-color: #FFCE00

.cont_4_1
  position: relative
  background-color: #13215C
  padding-top: 2.5rem !important
  overflow: hidden
  h4
    color: $color-acento-botones
  ul
    color: white
  .fig-flotante
    position: absolute
  .slyder-a
    p
      color: white
    .slyder-a__btn--sigt,.slyder-a__btn--atrs
      background-color: #FFCE00

.slider-tema-3
  .slyder-a
    p
      color: white !important

.color-thead-tabla-1
  thead
    border-color: #BAE9D9
.color-fondo-1
  background-color: #DEE1ED !important

.color-fondo-2
  background-color: #BAE9D9 !important

.color-fondo-3
  background-color: #DCECFE !important

.color-fondo-4
  background-color: #E1F6EF !important

.color-fondo-5
  background-color: $color-acento-botones !important

.color-fondo-6
  background-color: $color-sistema-h !important

.color-fondo-7
  background-color: #FFEEA6 !important

.fondo-gradiente-1
  position: relative
  *
    position: relative
  &:before
    content: ""
    opacity: 0.49
    background: linear-gradient(180deg, rgba(222,225,237,0.37) 0%, rgba(175,199,233,0.64) 40%, rgba(173,211,253,1) 100%)
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
  &.posicion-1
    &:before
      top: 30px
      bottom: 70px
  &.posicion-2
    &:before
      top: 80px
      bottom: 70px

.fondo-gradiente-3
  position: relative
  *
    position: relative
  &:before
    content: ""
    opacity: 0.49
    background: linear-gradient(0deg, rgba(222,225,237,0.37) 0%, rgba(175,199,233,0.64) 40%, rgba(173,211,253,1) 100%)
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
  &.posicion-1
    &:before
      top: 30px
      bottom: 70px
  &.posicion-2
    &:before
      top: 80px
      bottom: 70px

.fondo-gradiente-2
  position: relative
  z-index: 1
  &:before
    z-index: -1
    content: ""
    position: absolute
    width: 125%
    left: -15%
    top: 0
    bottom: 0
    background: url(../assets/curso/temas/34.png)
    background-size: cover
    background-position: top

.figura-decorativa
  position: relative
  *
    position: relative
  .fig-dec
    max-width: 115px
    position: absolute
    z-index: 0
    top: 5px
    right: 0
    img
      max-width: 115px

.borde-10
  border-radius: 10px !important

.cont-titulo-decorativo
  position: relative
  max-width: max-content
  figure
    width: 40px
    position: relative
  h3
    position: relative
  &:before
    content: ""
    position: absolute
    left: 0
    bottom: 0
    right: 0
    top: 16px
    background-color: #8DEECC
    border-radius: 6px
    z-index: 0

.tarjeta-carrousel-1
  h3
    color: #12263F !important
    display: flex
    align-items: flex-start
    span.titulo
      display: inline-block
      background-color: #3EE2A8
      color: #12263F !important

    span.numero
      display: inline-block
      background-color: #FFCE00
      color: #12263F !important


.estilo-slyder.slyder-f
  .slyder-f__btn
    position: relative
    *
      position: relative
    &:before
      content: ""
      background-color: #FFCE00
      position: absolute
      height: 50px
      width: 50px
      z-index: 0
      border-radius: 50%
      @media screen and (max-width: 576px)
        width: 30px
        height: 30px
    i
      font-size: 1rem
      color: #707BA3

.cont_3_1
  border-top-right-radius: 12px
  border-bottom-right-radius: 12px
  border-bottom-left-radius: 12px
  &.color-1
    background-color: #ADD3FD
  &.color-2
    background-color: #BAE9D9
  h4
    background-color: #273A89
    color: white
    display: inline-block
    padding: 0.2rem 0.6rem
  @media screen and (max-width: 576px)
    .fig-dec
        max-width: 50px !important

.cont_4_2
  background-color: #1682FB
  .figura-ilustrativa
    border-bottom: 12px solid #273A89
    width: 100%
    @media screen and (min-width: 992px)
      &:last-child
        border: none

  h3
    background-color: #3EE2A8
    display: inline-block
  .cont-textos-1
    background-color: #DCECFE


.cont_4_3
  position: relative
  display: flex
  flex-direction: row
  *
    position: relative
  &:before
    content: ""
    background-color: #BAE9D9
    position: absolute
    top: 0
    left: 95px
    @media screen and (max-width: 768px)
      left: 65px
    right: 0
    bottom: 0
    z-index: 0
    border-top-right-radius: 12px
    border-end-end-radius: 12px
  .fig-content
    display: flex
    flex-direction: column
    max-width: 190px
    min-width: 190px
    width: 100%
    align-items: center
    justify-content: center
    @media screen and (max-width: 768px)
      max-width: 130px
      min-width: 130px

    img
      width: 100%
    .fig-block
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      height: 100%
      min-height: 14px
      background-color: #FFCE00
      width: 100%
    .cont-titulo-figura
      position: absolute

.color-fondo-7.fondec-2
  .fig-dec.f1
    @media screen and (max-width: 768px)
      top: 100px !important

.link-defecto
  cursor: pointer !important
  color: #2196F3 !important